{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "plugins": [
        "react"
    ],
    "ecmaFeatures": {
        "jsx": true,
        "modules": true
    },
    "globals": {
        "expect": true,
        "fixture": true,
        "sinon": true
    },
    "rules": {
        "brace-style": 2,
        "guard-for-in": 2,
        "global-strict": 0,
        "indent": 2,
        "max-len": [1, 100],
        "new-cap": 0,
        "no-comma-dangle": 2,
        "no-func-assign": 0,
        "no-lonely-if": 2,
        "no-multiple-empty-lines": 2,
        "no-nested-ternary": 2,
        "no-new": 0,
        "no-reserved-keys": 2,
        "no-shadow": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0,
        "quotes": [2, "single", "avoid-escape"],
        "space-after-keywords": 2,
        "space-before-blocks": 2,
        "space-before-function-parentheses": { "anonymous": "always", "named": "never" },
        "strict": [2, "global"],
        "react/display-name": 2,
        "react/jsx-boolean-value": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-quotes": 2,
        "react/jsx-sort-prop-types": 2,
        "react/jsx-sort-props": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-multi-comp": 2,
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,
        "react/sort-comp": 2,
        "react/wrap-multilines": 2
    }
}
